.container{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;/* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    min-height: 100vh;

}

